<footer>
  <img class="full-width" src="../../assets/images/png/footer_mobile.png">
  <div class="footer-info">
    <img class="logo" src="assets/images/logo/logo-vinvarsel-beige.svg">
    <p class="fine-print"><span class="bold">Vinvarsel</span> er en privat tjeneste og har<br> ingenting med vinmonopolet å gjøre</p>
    <p>Vinvarsel.no er utviklet av:</p>
    <div class="developers">
      <a class="developer" href="holmeninnovativesolutions.com">
        <img class="developer-logo" src="assets/images/svg/holmen_innovative_solution.svg">
        <p class="fine-print">Holmen Innovative <br> Solutions</p>
      </a>
    </div>
  </div>
</footer>
