@import "src/globals";
#wineForm {
  /* Set the graphic in center and at the width of the screen */
  .background-graphic {
    width: 100%;
    height: 30%;
    object-fit: cover;
  }

  /* Style the email input field */
  //input.email {
  //  background-color: transparent;
  //  outline: none;
  //  border: none;
  //  width: 80%;
  //  border-radius: 100px;
  //  padding: 3% 0 3% 0;
  //}
  .mat-form-field-outline {
    @extend .red-box-shadow;
  }

  /*Setting the background color for each box */
  .category-wrapper {
    background-color: #fffaf7;
    border-radius: 15px;
    padding-top: 45px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 80%;
    position: relative;

    .category-icon {
      position: absolute;
      top: -21px;
      left: 50%;
      margin-left: -32.5px;
      width: 70px;
      height: 70px;
    }
  }

  ul {
    text-align: left;
    margin-left: 0;

    li {
      width: 100%;
      text-align: left;
    }
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 3% 5%;
  }

  .vertical-rectangle {
    height: 90px;
    background-color: #fff3e8;
    width: 3.5%;
    margin: 0 auto;
  }

  .terms-container,
  .submit-container {
    margin: 5% 0 1em 0;
  }
}
