@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "globals";
/* COLOR LIBRARY */
:root {
  --text-dark-brown: #611912;
  --text-light-brown: #9b7874;
  --text-beige: #fece9d;
  --background-color-light: #fffaf7;
  --background-color-medium: #fff3e8;
  --orange: #fc4833;
}
/* GLOBAL STYLES */
* {
  font-family: "EB Garamond", serif;
  color: var(--text-dark-brown);
  text-decoration: none;
  text-align: center;
  margin: 0;
}

/* RESP. FONT SIZE */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
p {
  font-size: 24px;
}
p.fine-print,
input.email {
  font-size: 18px;
}

/* GLOBAL CSS CLASSES */
.bold {
  font-weight: bold;
}

/* SUB-GLOBAL STYLES*/
li {
  list-style: none;
}

/* CUSTOM BUTTON */
button {
  border: solid #fc4833 1px;
  background-color: transparent;
  border-radius: 30px;
  padding: 10px 0;
  width: 150px;
  &:disabled {
    border-color: darkgray;
  }
}

.custom-slider {
  margin: 0 40px;
}
.ngx-slider {
  width: 80%;
}
.ngx-slider-selection {
  background: #fc4833 !important;
  outline: none !important;
}
.ngx-slider-pointer {
  background: #fc4833 !important;
  outline: none !important;
}
:after {
  outline: none !important;
}
:hover:after {
  outline: none !important;
}
.ngx-slider-bubble {
  display: none !important;
  outline: none !important;
}
.ngx-slider-active {
  outline: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
